/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
  .grid__4--cols {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .grid__3--cols {
    grid-template-columns: repeat(1, 1fr);
  }
  .nav__text {
    letter-spacing: -0.95px;
  }

  .description__box {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.4rem;
  }
  .description__icon {
    grid-row: 1;
    height: 3.2rem;
  }
  .description__icon ion-icon {
    font-size: 3.2rem;
  }
  .description__text {
    font-size: 1.6rem;
  }
  .description,
  .destacados {
    margin-bottom: 8.4rem;
  }
  .cta-text {
    font-size: 1.6rem;
  }
  .card-img-top {
    height: 40vh;
  }
}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .grid__4--cols {
    grid-template-columns: 1fr;
  }
  .description__boxs {
    padding: 4.8rem 3.2rem 0 3.2rem;
  }
  .btn,
  .btn a,
  .btn:link,
  .btn:visited {
    font-size: 1.6rem;
  }
  .heading-secondary {
    font-size: 3.2rem;
  }
  .cta {
    grid-template-columns: 1fr;
  }
  .cta-text-box {
    width: 100%;
    padding: 3.2rem 4.8rem 4.8rem 4.8rem;
  }
  .cta-text {
    line-height: 1.6;
    font-size: 1.6rem;
  }
  .footer__box {
    padding: 1rem 3.2rem;
  }
  .footer__box .header__title {
    font-size: 2.4rem;
  }
}
/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .description {
    padding: 0;
  }
  .description,
  .destacados {
    margin-bottom: 5.2rem;
  }
  .description__boxs {
    padding: 4.8rem 0 0 0;
  }
  .footer__box {
    padding: 1rem 0;
  }
}

@media (max-width: 468.98px) {
  .header__title {
    font-size: 2.4rem;
  }
  .description__title h3,
  .destacados__title h2,
  .contact__title h2 {
    font-size: 3.2rem;
  }
  .description__text,
  .card-text {
    font-size: 1.4rem;
  }
  .heading-secondary {
    font-size: 2.4rem;
  }
  .cta-text {
    font-size: 1.4rem;
  }
  .btn,
  .btn a,
  .btn:link,
  .btn:visited {
    font-size: 1.4rem;
  }
  .footer__box .header__title {
    font-size: 1.8rem;
  }
  .footer__socials {
    gap: 0;
  }
  .footer__icon {
    font-size: 2.4rem;
  }
}
@media (max-width: 351.98px) {
  .nav {
    display: block;
  }
  .navbar-collapse {
    background-color: #e9ecef3f;
    margin-bottom: 2rem;
    border-radius: 9px;
  }
  .description__title h3 {
    text-align: center;
  }
  .description__text {
    /* display: none; */
  }

  .description__text--block {
    display: block;
  }
}
